* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: #333;
	font-family: Arial, serif;
}

.board-wrapper {
	position: relative;
	display: inline-block;
	margin: 10px;
	overflow: hidden;
}

.board {
	display: table;
	margin: 0px 0px 0px 13px;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.row {
	display: table-row;
}

.cell,
.snake,
.food {
	width: 20px;
	height: 20px;
}

.cell {
	display: table-cell;
	background: rgb(132, 192, 124);
}

.snake {
	background: #333;
	position: absolute;
	border: #333 dashed;
}

.food {
	background-image: "favicon.ico";
	position: absolute;
}
.game {
	background-color: #64c6ff;
}
.reset {
	font-size: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 5px 20px;
	transform: translate(-50%, -50%);
}

.score,
.help {
	margin: 10px;
}
