* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-family: Arial, serif;
}

.board-wrapper {
  position: relative;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
}

.board {
  display: table;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.cell,
.snake,
.food {
  width: 20px;
  height: 20px;
}

.cell {
  display: table-cell;
  border: 1px solid #ccc;
}

.snake {
  background: #333;
  position: absolute;
}

.food {
  background: green;
  position: absolute;
}

.reset {
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 20px;
  transform: translate(-50%, -50%);
}

.score,
.help {
  margin: 10px;
}
